<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Werknemers</title>
    <link rel='stylesheet' th:href='@{/styles/default.css}'/>
</head>

<body>
<form th:action='@{/}' th:object='${voornaamForm}'>
    <label>Voornaam:
        <input th:field='*{voornaam}'/>
        <span th:if="${#fields.hasErrors('voornaam')}" th:errors='*{voornaam}'></span>
    </label>
    <input type='submit' value='zoeken'/>
</form>
<ul th:if='${werknemers != null}'>
    <li th:each='werknemer : ${werknemers}' >
        <a th:href='@{/werknemers/{id}(id=${werknemer.id})}' th:text='${werknemer.familienaam}'>
        </a>
    </li>
</ul>
</body>

</html>